@import "tailwindcss";

:root {
  --background: #f8fafc; /* Lighter background for dashboard feel */
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Map Tailwind's sans font to our Poppins variable */
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Apply the variable with fallbacks */
  font-family: var(--font-poppins);
}